/* header */
nav li {
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
}

.logo{
  width: 264px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
.logo img{
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}

nav{
  border-top: 2px solid #8F3985;
  margin-top: 140px;
  z-index: 2;
  position: relative;

}

nav ul{
  margin-left: -15px;
}
nav li{
  display: inline;
  margin-right: 83px;
}

nav hr{
  width:404px;
  background-color: #8F3985;
  height: 2px;
  border: none;
  position: relative;
  left: -139px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav a:hover{
  color: #A0C1B9;
}

/* <header>

  <div class="logo">
    <img src="../images/ui/logo.png" alt="logo">
  </div>

  <nav>
    <ul>
    <li><a href="shop.html">shop</a></li>
    <li><a href="about.html">bout</a></li>
    <li><a href="pp.html">privacy policy</a></li>
    </ul>
    <hr>
  </nav>

</header>

------------------------------------------- */
